body {
        background-color: #FFF9E2;
        margin: 0;
        font-family: 'Merriweather', serif;
      }

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #D0DBD6;
  border-width: 5px;
  width: 10%;
  margin-top: 10px;
      }

h3 {
    color: #A0B9C6;
}

i {
  margin-right: 5px;
}

.headshot {
  border-radius: 50%;
  margin: 20px;
  -webkit-border-radius: 250px;
}

.header {
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.header h1, h2 {
  margin: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  font-weight: 400;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}

#myVideo {
  margin-top: -500px;
}

.middle-container {
  text-align: center;
}

.middle-container h1 {
  color: #A0B9C6;
  margin: 30px auto;
  padding: 10px;
}

.project {
  width: 75%;
  margin: 75px auto 75px auto;
  line-height: 2;
  text-align: left;
}

.fitness-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.game-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.prescription-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.project p {
  margin-top: 30px;
}

.btn {
  margin: 5px 5px 5px 0;
}

.contacts {
  background-color: #313E50;
  height: 200px;
  text-align: center;
  position: relative;
}

.contacts h1 {
  color: white;
  margin: 30px auto;
  padding: 10px;
}

.social a {
  position: absolute;
}

.social i {
  font-size: 50px;
}

.social p {
  color: #007bff;
  margin-bottom: 0;
}
